// Cores Padrão para o Tema Claro
$light-bg-color: #faf9f7;
$light-text-color: #faf9f7;
$light-card-bg: #9eb249;
$light-header-bg: #82923f;
$light-footer-bg: #82923f;

// Cores Padrão para o Tema Escuro
$dark-bg-color: #222;
$dark-text-color: #faf9f7;
$dark-card-bg: #333;
$dark-header-bg: #3d4221;
$dark-footer-bg: #3d4221;
$dark-btn: #9eb249;


$primary-color: #3b3633;
$secondary-color: #e74c3c;
$font-size: 16px;
$border-radius: 5px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);