@import 'variables';
@import 'mixins';
@import 'portfolio';
@import 'modal';
@import 'theme';


body {
  font-family: sans-serif;
  font-size: $font-size;
  margin: 0;
  transition: background-color 0.3s ease;
}

header {
  text-align: center;
  padding: 20px;
  background-color: $light-header-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease
}

main {
  margin-top: 120px;
}

footer {
  background-color: $light-footer-bg;
  color: $light-text-color;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  transition: background-color 0.3s ease, color 0.3s ease
}